[Unit]
Description=Pulseaudio DLNA

[Service]
#User=<user e.g. root>
#WorkingDirectory=<path to your project directory containing your python script>
ExecStart=/usr/bin/pulseaudio-dlna
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
